.show{
    float:right;
    margin-right:10px;
}
div ul{
    margin: auto;
    text-align: center;
    list-style-type: none;
}
div ul li:nth-child(3n){
    margin-left: 300px;
    margin-top: -48px;

}
div ul li:nth-child(3n-1){
    margin-right: 300px;
    margin-top: -48px;

}
:root{
    --color:white;
    --background:black;
    --backimg: linear-gradient(to left,white,aliceblue,pink);
    --width:250;
}
.body{
    color: var(--color);
    background-color: var(--background);
    background-image: var(--backimg);
}
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: transparent;
}
div h2 a:hover{
    background-color:magenta;
}
hr{
    border: 3px solid orange;
    border-radius: 40px;
}
a{
    text-decoration: none;
}
.auto{
    margin: auto 30px;
}
main, footer{
    margin: auto 200px;
}
.sidenav {
  height:100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top:0;
  bottom: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
@media screen and (max-height: 450px) {
    .sidenav a {font-size: 18px;}
}
@media screen and (max-width:850px) {
    main, footer {
        margin: auto 30px;
    }
    .auto{
        margin: auto 10px;
    }
    :root{
        --width: 790;
    }
}
#change{
    animation: change 4s linear infinite;
}
@keyframes change {
    0% {color:pink}
    13.5% {color:red}
    26% {color:orange}
    38.5% {color:yellow}
    51% {color:green}
    63.5% {color:turquoise}
    86% {color:indigo}
    100% {color:violet}
}
.collapsible {
  background-color: var(--background);
  color: var(--color);
  cursor: pointer;
  padding: 18px;
  border: s;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.active, .collapsible:hover {
  background-color: grey;
}
.collapsible:after {
  content: '\002B';
  color: var(--color);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2212";
}
.content {
  padding: 0 18px;
  margin-top: -21px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: var(--background);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.content h3 ul{
  font-size: 30px;
  color: blue;
}
.content h3 li{
  font-size: 20px;
  color:red;
}